@model Web.ViewModel.SAPSReportViewModel

<table id="TotalsTable" class = "display">

    <thead>
            <th colspan="2">
                TOTAL SUMMARY
            </th>
            
           
    </thead>
    <tbody>
            <tr>
                <td align="left" style ="text-align:left">
                Total Calls
                
                </td>
                <td>
                @Model.TotalCalls
                </td>
             </tr>
             <tr>
               <td align="left" style ="text-align:left">
                Total Appointments
                
                </td>
                <td>
                @Model.TotalAppointments
                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                Total Good Appointments
                
                </td>
                <td>
                @Model.TotalGoodAppointments
                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                Ratio of Good Appointments
                
                </td>
                <td>
                @Model.AppointmentRatio %

                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                Total Closes
                
                </td>
                <td>
                @Model.TotalCloses
                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                Total Accounts
                
                </td>
                <td>
                @Model.TotalAccounts
                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                Close Ratio
                
                </td>
                <td>
                @Model.CloseRatio %
                </td>
             </tr>
                
    </tbody>
        
        
</table>

<script type="text/javascript">
    var oTable3 = $('#TotalsTable').dataTable({
        "bAutoWidth": false,
        "bFilter": false,
        "bLengthChange": false,
        "bPaginate": false,
        "bInfo": false,
        "bSort": false,
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "sSwfPath": "/Content/swf/copy_cvs_xls_pdf.swf"
        }, "fnInitComplete": function () {
            var tableWrapper = $('#TotalsTable' + '_wrapper');

            //remove widths that shouldn't be there on the datatable
            tableWrapper.css('width', '');
            tableWrapper.find('.dataTables_scrollHead').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').find('table').css('width', '');

            var tableDataContent = tableWrapper.find('.dataTables_scrollBody')[0];
            var tableHasScrollBar = (tableDataContent.scrollHeight > tableDataContent.clientHeight);

            //fixes header aligment issues in all major browsers
            if (tableHasScrollBar)
                tableWrapper.find('.dataTables_scrollHead').css('margin-right', '15px');

            //fixes table data stretchyness in <IE8
            if (navigator.appVersion.indexOf("MSIE 6") != -1 || navigator.appVersion.indexOf("MSIE 7") != -1) {
                $('#' + tableId).css('width', '');
                tableWrapper.find('.dataTables_scrollBody').css('overflow-x', 'hidden');
            }
        }
    });
    
    </script>