@model Web.ViewModel.GroupPPReportViewModel
@{
    ViewBag.Title = "Index";
}


<link href="@Url.Content("~/Content/demo_page.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/demo_table_jui.css")" rel="stylesheet" type="text/css" />
<script src = "@Url.Content("~/Scripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src = "@Url.Content("~/Scripts/jquery.jeditable.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.4.4js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src = "@Url.Content("~/scripts/TableTools.js")" type="text/javascript"></script>
<script src = "@Url.Content("~/scripts/ZeroClipboard.js")" type="text/javascript"></script>


<script type="text/javascript">
    var oTable1 = $('#IndexMTable').dataTable({
        
        "bFilter": false,
        "bLengthChange": false,
        "bPaginate": false,
        "bInfo": false,
        "bSort": false,
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "sSwfPath": "/Content/swf/copy_cvs_xls_pdf.swf"
        }, "fnInitComplete": function () {
            var tableWrapper = $('#MonthlyTable' + '_wrapper');

            //remove widths that shouldn't be there on the datatable
            tableWrapper.css('width', '');
            tableWrapper.find('.dataTables_scrollHead').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').find('table').css('width', '');

            var tableDataContent = tableWrapper.find('.dataTables_scrollBody')[0];
            var tableHasScrollBar = (tableDataContent.scrollHeight > tableDataContent.clientHeight);

            //fixes header aligment issues in all major browsers
            if (tableHasScrollBar)
                tableWrapper.find('.dataTables_scrollHead').css('margin-right', '15px');

            //fixes table data stretchyness in <IE8
            if (navigator.appVersion.indexOf("MSIE 6") != -1 || navigator.appVersion.indexOf("MSIE 7") != -1) {
                $('#' + tableId).css('width', '');
                tableWrapper.find('.dataTables_scrollBody').css('overflow-x', 'hidden');
            }
        }
    });


    var oTable2 = $('#IndexWTable').dataTable({
        
        "bAutoWidth": false,
        "bFilter": false,
        "bLengthChange": false,
        "bPaginate": false,
        "bInfo": false,
        "bSort": false,
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "sSwfPath": "/Content/swf/copy_cvs_xls_pdf.swf"
        }, "fnInitComplete": function () {
            var tableWrapper = $('#WeeklyTable' + '_wrapper');

            //remove widths that shouldn't be there on the datatable
            tableWrapper.css('width', '');
            tableWrapper.find('.dataTables_scrollHead').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').find('table').css('width', '');

            var tableDataContent = tableWrapper.find('.dataTables_scrollBody')[0];
            var tableHasScrollBar = (tableDataContent.scrollHeight > tableDataContent.clientHeight);

            //fixes header aligment issues in all major browsers
            if (tableHasScrollBar)
                tableWrapper.find('.dataTables_scrollHead').css('margin-right', '15px');

            //fixes table data stretchyness in <IE8
            if (navigator.appVersion.indexOf("MSIE 6") != -1 || navigator.appVersion.indexOf("MSIE 7") != -1) {
                $('#' + tableId).css('width', '');
                tableWrapper.find('.dataTables_scrollBody').css('overflow-x', 'hidden');
            }
        }
    });

//    var oTable3 = $('#SATable').dataTable({
//        "bAutoWidth": false,
//        "bFilter": false,
//        "bLengthChange": false,
//        "bPaginate": false,
//        "bInfo": false,
//        "bSort": false,
//        "sDom": 'T<"clear">lfrtip',
//        "oTableTools": {
//            "sSwfPath": "/Content/swf/copy_cvs_xls_pdf.swf"
//        }, "fnInitComplete": function () {
//            var tableWrapper = $('#SATable' + '_wrapper');

//            //remove widths that shouldn't be there on the datatable
//            tableWrapper.css('width', '');
//            tableWrapper.find('.dataTables_scrollHead').css('width', '');
//            tableWrapper.find('.dataTables_scrollHeadInner').css('width', '');
//            tableWrapper.find('.dataTables_scrollHeadInner').find('table').css('width', '');

//            var tableDataContent = tableWrapper.find('.dataTables_scrollBody')[0];
//            var tableHasScrollBar = (tableDataContent.scrollHeight > tableDataContent.clientHeight);

//            //fixes header aligment issues in all major browsers
//            if (tableHasScrollBar)
//                tableWrapper.find('.dataTables_scrollHead').css('margin-right', '15px');

//            //fixes table data stretchyness in <IE8
//            if (navigator.appVersion.indexOf("MSIE 6") != -1 || navigator.appVersion.indexOf("MSIE 7") != -1) {
//                $('#' + tableId).css('width', '');
//                tableWrapper.find('.dataTables_scrollBody').css('overflow-x', 'hidden');
//            }
//        }
//    });


    window.onload = function () {
        var monthtext;
        document.getElementById('monthdropdown').addEventListener('change', function (e) {
            var ddlReport = document.getElementById('monthdropdown');
            var text = ddlReport.options[ddlReport.selectedIndex].text;
            monthtext = text;
        }, false);

        var yeartext;
        document.getElementById('yeardropdown').addEventListener('change', function (e) {
            var ddlReport = document.getElementById('yeardropdown');
            var text = ddlReport.options[ddlReport.selectedIndex].text;
            yeartext = text;
        }, false);

        $('#AssignBtn').click(function () {

            $('#monthpartial').html("");
            $('#weeklypartial').html("");
            $('#sapartial').html("");
            $('#monthpartial').load("/GroupPPReport/MonthlyPerformance?id=" + yeartext + "&text=" + monthtext);
            $('#weeklypartial').load("/GroupPPReport/WeeklyPerformance?id=" + yeartext + "&text=" + monthtext);
            $('#sapartial').load("/GroupPPReport/SalesAgentPerformance?id=" + yeartext + "&text=" + monthtext);
            return false;
        });
    }
    </script>
<style type="text/css">
.go 
{
    background-color: #7fa9aa;
    color: White;
    font-size: 14px;
    font-weight: bold;
}

button {
 	background-color: #7fa9aa;
    color: White;
    font-size: 14px;
    font-weight: bold;
}
</style>
<div class="container">
<div class="header">
<div class="logo"><img border="0" src="../../Content/images/banner.png" alt="alt"/></div>  
  @if (Model.user.AssignedRoleId == 1)
  {
            <div class="hometab"><a href="@Url.Action("Indexad", "Home")">Home</a></div>
  }
    @if (Model.user.AssignedRoleId == 2)
  {
            <div class="hometab"><a href="@Url.Action("Index", "Home")">Home</a></div>
  }
			<div class="implea"><a href="@Url.Action("Index", "ImportLead")">Import Leads</a></div>
         	<div class="leadque"><a href="@Url.Action("Index", "LeadQueue")">Leads Queue</a></div>
            <div class="apptque"><a href="@Url.Action("Index", "AppointmentQueue")">Appt Queue</a></div>
            <div class="dashb"><a href="/dashboard/index">Dashboard</a></div>    
            <div class="logout"><a href="#">@(Model.user.FirstName) @(Model.user.LastName)</a>
            <ul class="logoutlist" >  
   				    <li>@Html.ActionLink("Personal Profile", "Edit", "User", new { id = Model.user.UserId }, null)</li>  
             		<li>@Html.ActionLink("Logout", "Logout", "Auth", null, null)</li> 
   				  </ul>
             </div>

</div>
<div class="content">

<div style="float:left; font-size:8pt; margin-top:-50px">Trinity Merchant Group Production Performance Report - @DateTime.Today.ToShortDateString()</div>
<div class="leftreportscolumn">
    @using (Html.BeginForm("Index", "GroupPPReport", FormMethod.Post))
    {
    @Html.ValidationSummary(true)
    <table>
             <tr>
                 <td align="left">Report Month</td>                  
                <td align="left">@Html.DropDownList("monthdropdown", new SelectList(Model.Monthlist), "Select")</td>
                 <td align="left">@Html.DropDownList("yeardropdown", new SelectList(Model.Yearlist), "Select")</td>
                <td></td>
                
                <td><input type="Button" value="Go" id="AssignBtn"  class ="go"/></td>
              </tr>
    </table>
    }

  <div id = "monthpartial" class="report1table">
  <table id= "IndexMTable" class = "display">

    <thead>
        <tr>
            <th colspan="2">
                MONTHLY PERFORMANCE
            </th>     
        </tr>    
    </thead>
    <tbody>
            <tr>
                <td align="left">
                Number of Weeks
                
                </td>
                <td>
                @Model.NumberOfWeeks
                </td>
             </tr>
             <tr>
               <td align="left">
                Total Appointments
                </td>
                <td>
                @Model.TotalAppointments
                </td>
             </tr>
             <tr>
                <td align="left">
                Total Good Appointments
                
                </td>
                <td>
                @Model.TotalGoodAppointments
                </td>
             </tr>
             <tr>
                <td align="left">
                        Total Closes
                
                </td>
                <td>
                     @Model.TotalCloses

                </td>
             </tr>
             <tr>
                <td align="left">
                        Hold Ratio
                
                </td>
                <td>
                     @Model.HoldRatio
                </td>
             </tr>
             <tr>
                <td align="left">
                Close Ratio
                
                </td>
                <td>
                @Model.CloseRatio
                </td>
             </tr>
              
    </tbody>
        
        
</table>
</div>

  <div id = "weeklypartial" class="report2table">
  <table id= "IndexWTable" class = "display">

    <thead>
            <th colspan="2">
                WEEKLY PERFORMANCE
            </th>
            
           
    </thead>
    <tbody>
            <tr>
                <td align="left" style ="text-align:left">
               Working AAs Per Week
                
                </td>
                <td>
                @Model.WorkingAAPerWeek
                </td>
             </tr>
             <tr>
               <td align="left" style ="text-align:left">
                 Appointments Per Week
                
                </td>
                <td>
                @Model.AppointmentPerWeek
                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                Appointments Per Week Per AA
                
                </td>
                <td>
                @Model.AppointmentPWPAA
                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                  Good Appointments Per Week
                
                </td>
                <td>
                     @Model.GoodAppointmentsPerWeek

                </td>
             </tr>
             <tr>
                <td align="left" style ="text-align:left">
                    Closes Per Week
                
                </td>
                <td>
                     @Model.ClosesPerWeek
                </td>
             </tr>
            
    </tbody>
        
        
</table>
</div>
</div>
<div class="rightreportscolumn">
 <div id = "sapartial" class="report3table"">
  
</div>

</div>
  </div>
  </div>