@model Web.ViewModel.GroupPPReportViewModel
<table id="SATable" class="display" style="border: 1px solid #000;">
    <thead>
            
            <th>
                SA
            </th>
            <th>
                TGAPM
            </th>
            <th>
                GAPW
            </th>
            <th>
                % APPTS
            </th>
            <th>
                TCPM
            </th> 
            <th>
                SA CR
            </th>
            
    </thead>
      <tbody>
        @foreach (var items in Model.SAGroupReport)
        {
            <tr>
                 
                <td>
                    @items.firstName @items.lastName
                </td>
                <td>
                    @items.TGAPM
                </td>
                <td>
                    @items.GAPW
                </td>
                <td>
                    @items.AppointmentPercentage
                </td>
                <td>
                   @items.TCPM
                </td>
                <td>
                   @items.SACR
                </td>
                
            </tr>
        }
    </tbody>
</table>
<script type ="text/javascript">
    var oTable3 = $('#SATable').dataTable({
        "bAutoWidth": false,
        "bFilter": false,
        "bLengthChange": false,
        "bPaginate": false,
        "bInfo": false,
        "bSort": false,
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "sSwfPath": "/Content/swf/copy_cvs_xls_pdf.swf"
        }, "fnInitComplete": function () {
            var tableWrapper = $('#SATable' + '_wrapper');

            //remove widths that shouldn't be there on the datatable
            tableWrapper.css('width', '');
            tableWrapper.find('.dataTables_scrollHead').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').css('width', '');
            tableWrapper.find('.dataTables_scrollHeadInner').find('table').css('width', '');

            var tableDataContent = tableWrapper.find('.dataTables_scrollBody')[0];
            var tableHasScrollBar = (tableDataContent.scrollHeight > tableDataContent.clientHeight);

            //fixes header aligment issues in all major browsers
            if (tableHasScrollBar)
                tableWrapper.find('.dataTables_scrollHead').css('margin-right', '15px');

            //fixes table data stretchyness in <IE8
            if (navigator.appVersion.indexOf("MSIE 6") != -1 || navigator.appVersion.indexOf("MSIE 7") != -1) {
                $('#' + tableId).css('width', '');
                tableWrapper.find('.dataTables_scrollBody').css('overflow-x', 'hidden');
            }
        }
    });


</script>